html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
}
.top-navigation {
	background-color: #fff;
	diplay: inline;
	font-family: 'Roboto', sans-serif;
	font-weight: 300; 
	font-size: 16px; 
	color: #838994; 
	letter-spacing: 0.03em;
	position: fixed;
	z-index: 9999;
	width: 100%;
}

.top-navigation > .content {
	width: 921px;
	height: 70px;
	margin: 0 auto;
	/*border: 1px solid green;*/
}

.top-navigation img {
	height: 40px;
	margin-left: 14px;
	padding-left: 0px 15px;
	margin-top: 14px;
}

.links {
	float: right;
	margin-top: 24px;
	}

.links li {
	list-style-type: none;
	display: inline;
	font-size: 16px;
	margin-left: 24px;
	font-family: 'Roboto', sans-serif;
}

.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}

.introduction {
	background-image: url("http://thinkful-ed.github.io/karma-clone/img/first-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 600px;
	text-align: center;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	margin-top: 0;
}

.introduction h1 {
	font-size: 50px;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 190px;
}

.introduction h3 {
	font-size: 25px;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
	font-weight: 300;
	margin-top: 0;
}

.buttons button {
	width: 170px;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: 4px;
	padding: 15px 29px;
	font-size: 20px;
	color: #fff;
	margin-bottom: 40px;
}

.cases .devices {
	margin: 0px auto;
	/*width: 921px;*/
	width: 738px;
	padding: 0;
}

.cases {
	margin-bottom: 40px;
}

.cases h2 {
	font-weight: 300;
}

.devices li {
	list-style-type: none;
	width: 33.333333333%;
	float: left;
	display: inline-block;	
	margin: 20px 0;
	padding: 0;
	text-align: center;
}

.content h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif; 
	font-size: 45px;
	margin-top: 120px;
}

.devices h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400; 
	font-size: 26px;
}

.devices:after {
	content: "";
	display:table;
	clear: both;
}

.social .content {
	border-top: 1px solid #eaebec;
	width: 921px;
	margin: auto;
	margin-top: 0;
	margin-bottom: 50px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

.social .icons {
	padding: 0;
}
.social li {
		list-style-type: none;
		display: inline-block;
		margin: 0 20px;
		border: 1px solid #eaebec;
		height: 40px;
		width: 40px;
		border-radius: 45px;
		line-height: 42px;
}

.social h5 {
	font-weight: 400; 
	font-size: 16px;
}

.social .twitter {
	color: #55acee;
}

.social .facebook {
	color: #4c66a4;
}

.social .instagram {
	color: #3f729b;
}

.copy {
	font-weight: 300;
	font-size: 14px;
	color: #333333;
}
